amqp==2.3.2
billiard==3.5.0.5
celery==4.2.1
certifi==2018.11.29
chardet==3.0.4
cloudpickle==0.6.1
cycler==0.10.0
dask==1.0.0
decorator==4.3.0
Django==2.1.4
django-crispy-forms==1.7.2
django-jsonview==1.2.0
django-registration-redux==2.5
idna==2.8
kiwisolver==1.0.1
kombu==4.2.2
matplotlib==3.0.2
networkx==2.2
numpy==1.15.4
Pillow==5.3.0
pkg-resources==0.0.0
pyparsing==2.3.0
python-dateutil==2.7.5
pytz==2018.7
PyWavelets==1.0.1
redis==3.0.1
requests==2.21.0
scikit-image==0.14.1
scipy==1.2.0
simplejson==3.16.0
six==1.12.0
toolz==0.9.0
urllib3==1.24.1
vine==1.1.4
