{%extends "base.html" %}


{% block jumbotron%}
	<div class="jumbotron">
        <h2>Sobre</h2>
        <p>Esta aplicação permite a execução remota dos algoritmos cadastrados pelo administrador.</p>
        <p>
        Para fins de testes, os algoritmos selecionados para demonstração são uma implementação de complexidade n*log(n) e outra de complexidade n*n do algoritmo Friends-of-Friends.</p>
        <p>
        Este projeto foi desenvolvido por Otávio Migliavacca Madalosso como trabalho de graduação em Ciência da Computação pela Universidade Federal de Santa Maria (UFSM).</p>
	</div>
{%endblock%}
