{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block head_title %}Contact{% endblock %}


{% block content %}
<div class="row">
  <div class="col-md-3 col-sm-3"></div>
  <div class="col-sm-6 col-md-6 center-block">
    <form method="POST" action=".">{% csrf_token %}
      {{form|crispy}}
      <p style="text-align: center" class="lead">
        <input class='btn btn-primary center-block' type="submit" value="Send"></p>
    </form>
  </div>
  <div class="col-md-3 col-sm-3"></div>
</div>

{% endblock %}
